@{
    ViewData["Title"] = "Home Page";
}
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<div class="text-center">
    <thead>
        <tr>
            <h1 class="display-4">Bem Vindo!</h1>
            @DateTime.Now.DayOfWeek
            <br />
            @DateTime.Now
        </tr>
    </thead>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
